<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Link para o CSS do Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<!-- Barra de navegação -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">SOLUTECH</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <!-- Exibir para usuário autenticado -->
                <li class="nav-item d-flex align-items-center" sec:authorize="isAuthenticated()">
                    <span class="navbar-text">Olá, <span sec:authentication="name"></span>!</span>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-link nav-link">Logout</button>
                    </form>
                </li>
                <!-- Exibir para quem não está autenticado -->
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                <!-- Exibir para ADMIN -->
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link" href="/device/listar">Lista de aparelhos</a>
                </li>
                <!-- Exibir para USER -->
                <li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
                    <a class="nav-link" href="/device/cadastrar">User Dashboard</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Conteúdo Principal -->
<div class="container mt-5">
    <h1 class="text-center">  "A tecnologia só faz sentido quando transforma vidas para melhor."</h1>
    <div class="d-flex justify-content-center mt-4">
        <a href="/device/cadastrar" class="btn btn-primary">Cadastrar um aparelho</a>
    </div>
</div>

<!-- Script do Bootstrap (necessário para o funcionamento do navbar toggle) -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>
</html>
